/* === FADE + SLIDE TIMING === */
@keyframes fadeSlideUp {
	0% {
		filter: blur(3px);
		opacity: 0;
		transform: translateY(10px);
	}
	3% {
		filter: blur(0px);
		opacity: 1;
		transform: translateY(0);
	}
	11% {
		filter: blur(0px);
		opacity: 1;
		transform: translateY(0);
	}
	14% {
		filter: blur(3px);
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		filter: blur(3px);
		opacity: 0;
		transform: translateY(-10px);
	}
}

@keyframes fadeSlideRight {
	0% {
		filter: blur(3px);
		opacity: 0;
		transform: translateX(10px);
	}
	3% {
		filter: blur(0px);
		opacity: 1;
		transform: translateX(0);
	}
	11% {
		filter: blur(0px);
		opacity: 1;
		transform: translateX(0);
	}
	14% {
		filter: blur(3px);
		opacity: 0;
		transform: translateX(-10px);
	}
	100% {
		filter: blur(3px);
		opacity: 0;
		transform: translateX(-10px);
	}
}

.quote {
	color: hsl(0, 0%, 80%);
	position: absolute;
	opacity: 0;
	font-style: oblique;
	font-weight: 300;
	font-size: 1.1em;
}

/* alternate between the two animations */
.quote:nth-child(odd) {
	animation: fadeSlideUp 28s infinite;
}
.quote:nth-child(even) {
	animation: fadeSlideRight 28s infinite;
}

/* Adjusted delays for all 7 quotes */
.quote:nth-child(1) {
	animation-delay: 0s;
}
.quote:nth-child(2) {
	animation-delay: 4s;
}
.quote:nth-child(3) {
	animation-delay: 8s;
}
.quote:nth-child(4) {
	animation-delay: 12s;
}
.quote:nth-child(5) {
	animation-delay: 16s;
}
.quote:nth-child(6) {
	animation-delay: 20s;
}
.quote:nth-child(7) {
	animation-delay: 24s;
}

.quote-box {
	min-height: 3em;
	position: relative;
	max-width: 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding-bottom: 0.5em;
}
@media (max-width: 768px) {
	.quote-box {
		min-width: 300px;
		word-wrap: break-word;
		overflow-wrap: break-word;
		min-height: 5em;
	}
}
