/* ======================
   HEADER
====================== */

/* Header bar */
#head-thing {
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
	z-index: 10;
}
/* ======================
   TITLE TEXT
====================== */
#title-text {
	font-family: "Mozilla Headline", sans-serif;
	color: #fafafa;
	font-weight: 700;
	font-size: 1.5rem;
	margin-left: 5%;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	transition: text-shadow 0.3s ease-in-out;
}

#title-text:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/* ======================
   TITLE ANIMATIONS
====================== */
@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

.focus-in-expand-normal {
	animation: focus-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1
		normal both;
}

/* ======================
   BACKGROUND EFFECTS
====================== */

/* Shared blur effect for Header and Nav */
.drop {
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(4px);
	border-bottom: 1px solid hsla(220, 20%, 35%, 0.6);
}

/* Drop background */
.drop {
	background: #0a0c0f8a;
}
