/* normal.css */

/* Base styles */
html,
body {
	height: 100%;
	margin: 0;
	display: flex;
}

/* Header styles */
#head-thing {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	position: sticky;
	background-color: #09090b;
	top: 0;
	min-width: 100vw;
	padding: 0.75rem 0;
	flex-wrap: wrap;
	max-height: 10vh;
	justify-content: space-between; /*centers around the middle*/
    align-items: center;              /* center on y axis */

}

/* Effects */
.glow-border-bottom-white {
	border-bottom: 4px solid #fafafa;
	box-shadow: 0 4px 10px #fafafa;
}

/* Title text */
#title-text {
	color: #fafafa;
	font-family: "Mozilla Headline", sans-serif;
	font-weight: 700;
	font-size: 1.875rem;
}

/* Navigation bar */
#Nav-bar {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
